:root {
    --primary:  #d4223c;
    --midprim: 
}

.app{
    /* background-color: red; */
    width: 100vw;
    /* height: 100vh;   */
    display: flex;
    place-items: center; 
    justify-content: center;
    

}
.size {
    /* background-color: rgb(27, 27, 56); */
    width: 80%;
    /* overflow-x: hidden; */
}

.btn{
    background-color: var(--primary);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
a{
    text-decoration: none;
    color: white;
    
}
